<div>
  <div>
    <div><h4>Connect to list server</h4></div>
    <div>
      <input id="txt-id" type="text" placeholder="input your unique id" />
      <input id="btn-connect" type="submit" value="Connect" />
    </div>
  </div>
  <div><h1>List Nodes</h1></div>
  <div>
    <ul id="list-nodes">
      <template id="list-nodes-temp">
        <li>
          {{ item }}
          <button class="btn-select" value="{{ value }}" type="submit">
            Select
          </button>
        </li>
      </template>
    </ul>
  </div>
</div>

<script src="/app/connection.js"></script>
<script>
  let txtId = document.getElementById("txt-id");
  let btnConnect = document.getElementById("btn-connect");
  let listNodes = document.getElementById("list-nodes");
  let listNodesTemp = document.getElementById("list-nodes-temp");

  btnConnect.onclick = () => {
    socketServer
      .connect(
        "localhost:4444",
        txtId.value
      )
      .then(() => {
        socketServer.requestList().then(list => {
          JSON.parse(list).forEach(el => {
            listNodes.innerHTML += listNodesTemp.innerHTML
              .replace("{{ item }}", el)
              .replace("{{ value }}", el);
          });
        });
      });
  };
</script>
